/* Change font in let expression to a serif font */
div p{
	padding-left: 15px;
}

.container p:nth-child(3){
	padding-left: 40px;
}

.container p:nth-child(4){
	padding-left: 60px;
}

.container p:nth-child(5){
	padding-left: 40px;
}

.container p:nth-child(6){
	padding-left: 60px;
}

.container p:nth-child(7){
	padding-left: 40px;
}

.answers {
	padding-left: 100px;
	font-size: 14px;
}

.container p{
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
}